third_party/OpenSSLv3.0.16/certs/cacert.pem text eol=lf
third_party/OpenSSLv3.0.16/Win_x64/include/** text eol=lf whitespace=-blank-at-eol
third_party/OpenSSLv3.0.16/MacOS_arm64/include/** text eol=lf whitespace=-blank-at-eol
third_party/OpenSSLv3.0.16/Linux_x64/include/** text eol=lf whitespace=-blank-at-eol
third_party/OpenSSLv3.0.16/Win_x64/bin/*.dll binary
third_party/OpenSSLv3.0.16/Win_x64/lib/*.lib binary
third_party/OpenSSLv3.0.16/MacOS_arm64/lib/*.a binary
third_party/OpenSSLv3.0.16/Linux_x64/lib64/*.so.3 binary
