# Qt Creator 本地配置
.qtcreator/
*.user
*.user.*

# CMake 与编译产物
build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# 生成的二进制与调试文件
*.exe
*.dll
*.pdb
*.ilk
*.obj

# 仓库内预编译 OpenSSL 运行库需要随项目保存
!third_party/OpenSSLv3.0.16/Win_x64/bin/libssl-3-x64.dll
!third_party/OpenSSLv3.0.16/Win_x64/bin/libcrypto-3-x64.dll

# 操作系统文件
.DS_Store
Thumbs.db
